body{
    margin: 0px;
	padding: 0px;
	font-family: 'Cabin', sans-serif;
}
.fundo{
    background: rgb(140, 84, 180);
	background: linear-gradient(228deg, rgba(140,84,180,1) 38%, rgba(111,152,212,1) 100%); 
    height: 100vh;
    text-align: center;     
}
.calculadora{
    position:absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius:15px;
    padding:15px;
}
.botao{
    background-color: rgb(31,31,31);
    width: 50px;
    height: 50px;
    font-size:25px;
    border-radius:10px;
    cursor: pointer;
    border: none;
    color: white;
    margin:3px;
}
h2{
    color: white;
}

.botao:hover{
    background-color: black;
}

h1{
    color: white;
    margin-top: 0px;
    padding-top:15px;
}

#resultado{
    width: 207px;
    background-color:white;
    height:30px;
    margin: 5px;
    border-radius: 5px;font-size: 25px;
    color: black;
    text-align:right;
    padding:5px;
    font-size: 25px;
}