body {
    margin: 0px;
	padding: 0px;
	font-family: 'Cabin', sans-serif;
    background: whitesmoke;
}

h1 {
    margin-top:65px;
    color:rgb(95, 75, 186);
    margin-top: 0px;
    padding-top:15px;
    text-align:center;  
}

.motivacion{
    text-align: center;
    background: #9b80e8;
    width: 200px;
    height: 150px;
    margin: 50px;
    color: white;
    padding: 5px 12px;
    letter-spacing:4px;
    box-shadow: 0 0 4px white;
    border-radius:8px;
    position: relative;
    left:50px;
    top: 20%;
}
.motivacion>span{
    font-size: 15px;
    font-weight: bold;
}

img{
   overflow: hidden;
   margin-top: 30px;
   margin-bottom: 20px;
   width: 300px;
   position: relative;
   left: 20%;
}

/*Aqui empezamos el contenido de la calculadora*/

.calculator {
    position: absolute;
    background-color: #f3a8c2;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    border-radius:15px;
    padding:15px;
}
.botao {
    background: rgb(95, 75, 186);
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    color: white;
    margin:3px;
}
h2 {
    color: rgb(95, 75, 186);
    text-align: center;
    }

#resultado {
    width: 215px;
    background-color: white;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
    font-size: 25px;
}
.botao:hover {
    background: #f74fd0;
    color: white;
}
/*Fin contenido calculadora*/


@media screen and (max-width: 700px) {
	.calculator{
        display: none;
    }
}